@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@font-face {
  font-family: "Aileron";
  src: url("assets/fonts/Aileron-Regular.woff2") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Stigsa";
  src: url("assets/fonts/StigsaDisplay-Medium.woff2") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  background: linear-gradient(to top, #9c788a, #8277a3);
  color: #f4f0f7;
  font-family: Aileron;
  max-height: 100vh; 
  min-height: 100vh; 
  margin: 0;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  figure {
    overflow: hidden;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: -30px auto auto;
    z-index: -10;
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.25);
      object-position: top 21px right -3px;
    }
  }

  h1 {
    position: relative;
    z-index: 999 !important;
    padding-top: 9%;
    margin: 0;
    font-size: 32px;
    text-align: center;
    font-family: Stigsa;
    line-height: 44px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #8277a3;
    text-transform: uppercase;
  }

  h2 {
    padding-top: 8%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  .social-links {
    display: flex;
    gap: 1.1rem;
    justify-content: center;
  }

  .social-link {
    padding-top: 9%;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f0f7;
  }

  .social-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .social-icon-yt {
    width: 1.4rem;
    height: 1.4rem;
  }

  .social-icon-small {
    width: 1.18rem;
    height: 1.18rem;
  }

  .line-container {
    width: 80vw;
  }

  .line-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .separator-line {
    margin: auto;
    width: 99%;
    height: 1px;
    background-color: #f4f0f7; 
  }

  .ending {
    margin-bottom: 28%;
  }

  a {
    background: none;
    text-decoration: none;
    padding: 16px 0;
    font-family: Aileron;
    color: inherit;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 400;
  }

  .number {
    font-family: Droid;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 400;
  }
}

@media (min-width: 500px) {
  body {
    .line-container {
      width: 270px;
    }
  }
}
